<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <%- include("./partials/navbar") %>
        <br><br>

        
        <h1>Products</h1>

        <% products.forEach(product => { %>
            <h3>Name: <%- product.name %></h3>
            <p>Price: <%= product.price %></p>
            <p>Quantity: <%= product.quantity %></p>
            <p>Description: <%= product.description %></p>
            <br>
        <% }) %>

      
    </body>
</html>